# 1. What percentage of customers pick up their orders at a different postcode from where they live?

First we will read customers_zip.csv and delivery_zip.csv files into data frame.

In [1]:
import pandas as pd
import numpy as np

df_customers_zip = pd.read_csv('customers_zip.csv', usecols = [1, 2])#, nrows = 1000)
df_delivery_zip = pd.read_csv('delivery_zip.csv', usecols = [1, 2])#, nrows = 1000)
print(df_customers_zip)
print(df_delivery_zip)

         customer_id  zip_cust
0         77461851.0   39435.0
1         37934116.0   92635.0
2         39770481.0   61090.0
3         50298765.0   40516.0
4         23383753.0   85367.0
...              ...       ...
1064030    7614400.0   37754.0
1064031   38064713.0   40550.0
1064032   55151857.0   27493.0
1064033   72477424.0   91501.0
1064034   34343239.0   16103.0

[1064035 rows x 2 columns]
         customer_id  zip_del
0         77461851.0  55685.0
1         37934116.0  36236.0
2         39770481.0      NaN
3         50298765.0  78823.0
4         23383753.0  75757.0
...              ...      ...
1701447   22997615.0  18863.0
1701448   22997615.0  22874.0
1701449   52840571.0  56465.0
1701450   52840571.0  56162.0
1701451          NaN      NaN

[1701452 rows x 2 columns]

Let us remove rows with NaN values and then merge these two dataframes with respect to the customer_id.

In [2]:
df_customers_zip = df_customers_zip.dropna().reset_index(drop=True)
df_delivery_zip = df_delivery_zip.dropna().reset_index(drop=True)
print(df_customers_zip)
print(df_delivery_zip)

         customer_id  zip_cust
0         77461851.0   39435.0
1         37934116.0   92635.0
2         39770481.0   61090.0
3         50298765.0   40516.0
4         23383753.0   85367.0
...              ...       ...
1064029    7614400.0   37754.0
1064030   38064713.0   40550.0
1064031   55151857.0   27493.0
1064032   72477424.0   91501.0
1064033   34343239.0   16103.0

[1064034 rows x 2 columns]
         customer_id  zip_del
0         77461851.0  55685.0
1         37934116.0  36236.0
2         50298765.0  78823.0
3         23383753.0  75757.0
4          2789905.0  87986.0
...              ...      ...
1651087   39250750.0  22157.0
1651088   22997615.0  18863.0
1651089   22997615.0  22874.0
1651090   52840571.0  56465.0
1651091   52840571.0  56162.0

[1651092 rows x 2 columns]

In [3]:
result1 = pd.merge(df_customers_zip, df_delivery_zip, on = ["customer_id", "customer_id"])
result1 = result1.dropna().reset_index(drop=True)
print(result1)

         customer_id  zip_cust  zip_del
0         77461851.0   39435.0  55685.0
1         37934116.0   92635.0  36236.0
2         50298765.0   40516.0  78823.0
3         23383753.0   85367.0  75757.0
4          2789905.0   93737.0  87986.0
...              ...       ...      ...
1653822   39250750.0   10631.0  22157.0
1653823   22997615.0   18863.0  18863.0
1653824   22997615.0   18863.0  22874.0
1653825   52840571.0   56465.0  56465.0
1653826   52840571.0   56465.0  56162.0

[1653827 rows x 3 columns]

We will add new column where '0' denotes different zip_cust and zip_del and '1' for the same values

In [4]:
result1['new'] = np.where((result1['zip_cust'] == result1['zip_del']), 1, 0)
print(result1)

         customer_id  zip_cust  zip_del  new
0         77461851.0   39435.0  55685.0    0
1         37934116.0   92635.0  36236.0    0
2         50298765.0   40516.0  78823.0    0
3         23383753.0   85367.0  75757.0    0
4          2789905.0   93737.0  87986.0    0
...              ...       ...      ...  ...
1653822   39250750.0   10631.0  22157.0    0
1653823   22997615.0   18863.0  18863.0    1
1653824   22997615.0   18863.0  22874.0    0
1653825   52840571.0   56465.0  56465.0    1
1653826   52840571.0   56465.0  56162.0    0

[1653827 rows x 4 columns]

Note that sometimes customer_id repeats: that can mean that sometimes the same customer orders packages to the same address that he/she lives and sometimes somewhere else.

And we will count how many '0' and '1' is in the last column:

In [5]:
ratio = result1['new'].value_counts()
print(ratio)

0    1013072
1     640755
Name: new, dtype: int64

And now we will calculate ratio of '0' to all orders:

In [6]:
x = ratio[0]/(ratio[1] + ratio[0]) * 100.0
print(f'Percentage of customers pick up their orders at a different postcode from where they live: {x:.2f}%')

Percentage of customers pick up their orders at a different postcode from where they live: 61.26%

For the end let us free memory:

In [7]:
del df_customers_zip
del df_delivery_zip
del result1

# 2. What sport is the most and least popular among customers?

Now we will need a file called sports_csv. Let us read it into a dataframe:

In [8]:
df_sports = pd.read_csv('sports.csv', usecols = [1, 2]) #, nrows = 1000)
print(df_sports)

         customer_id        sport
0         77461851.0     p3ywanie
1         37934116.0    myolistwo
2         39770481.0   3ucznictwo
3         50298765.0   nurkowanie
4         23383753.0   3ucznictwo
...              ...          ...
1189742   70183840.0   nurkowanie
1189743   39250750.0  jeYdziectwo
1189744   22997615.0    myolistwo
1189745   52840571.0   nurkowanie
1189746          NaN          NaN

[1189747 rows x 2 columns]

We can count how many times different sports appear in the last column:

In [9]:
sports_count = df_sports['sport'].value_counts()
print(sports_count)

p3ywanie       274855
3ucznictwo     222829
nurkowanie     211743
myolistwo      180655
jeYdziectwo     63640
bieganie        53111
rowery          43038
karate          21695
aquafitness     21566
judo            21476
snowboard       21472
chodzenie       21423
hokej           21409
myslistwo       10834
Name: sport, dtype: int64

We see that the most popular sport is 'pływanie' and the least popular one is 'myślistwo'.

# 3. How many customers do more than 2 sports?

Again we will use the same dataframe with sports. We can check how many customer_id appears more than 2 times in the above dataframe: first, we will count how many times each customer_id appears, then we will limit this value only to the customer_id that appears more than 2 times.

In [10]:
vc = df_sports.customer_id.value_counts()
print(len(vc[vc > 2]))
#print(len(vc))
print(100*len(vc[vc > 2])/len(vc))

5040
0.4751556747634828

# 4. What is the average order value?

Here we will need orders.csv file:

In [11]:
df_orders = pd.read_csv('orders.csv', usecols = [1, 2]) #, nrows = 1000)
df_orders = df_orders.dropna().reset_index(drop=True)
print(df_orders)

           order_id   value
0        82168832.0  240.29
1        38300086.0  730.12
2        70629629.0  145.04
3        81244871.0  472.24
4        88005542.0  354.54
...             ...     ...
4003976  46861536.0  220.30
4003977  73308696.0  208.33
4003978  80131863.0  628.98
4003979  82066694.0  139.71
4003980  76207670.0  726.36

[4003981 rows x 2 columns]

We simply need to caclulate average of the 2nd column:

In [12]:
mean_val = df_orders["value"].mean()
median_val = df_orders["value"].median()

In [13]:
print(f'Average order value: {mean_val:.2f} and median: {median_val:.2f}.')

Average order value: 25396.01 and median: 405.00.

# 5. What is the average order value of equestrian customers?

Here we will need both dataframes: with sports (df_sports) and orders (df_orders) - we read these data in the previous steps. We need to select only customers that do horse riding ('jeździectwo' in sport column of df_sports), select their customer_id, then only for these customers select their orders (we will need another file, customer_orders.csv) that will give us selected order_id and for these order_id calculate the average value of orders.

In [14]:
df_customer_orders = pd.read_csv('customer_orders.csv', usecols = [1, 2]) #, nrows = 1000)
df_customer_orders = df_customer_orders.dropna().reset_index(drop=True)
print(df_customer_orders)

         customer_id    order_id
0         77461851.0  82168832.0
1         37934116.0  38300086.0
2         39770481.0  70629629.0
3         50298765.0  81244871.0
4         23383753.0  88005542.0
...              ...         ...
4003958   22997615.0  91722929.0
4003959   22997615.0  76578060.0
4003960   52840571.0  48208738.0
4003961   52840571.0  11830182.0
4003962   52840571.0  73524810.0

[4003963 rows x 2 columns]

In [15]:
df_sports_short = df_sports.loc[df_sports['sport'] == 'jeYdziectwo']
print(df_sports_short)

         customer_id        sport
31         5775704.0  jeYdziectwo
35        59147471.0  jeYdziectwo
40        32683424.0  jeYdziectwo
56         3206085.0  jeYdziectwo
128       44476885.0  jeYdziectwo
...              ...          ...
1189627   40382952.0  jeYdziectwo
1189664   17137022.0  jeYdziectwo
1189693   44042989.0  jeYdziectwo
1189712   81723809.0  jeYdziectwo
1189743   39250750.0  jeYdziectwo

[63640 rows x 2 columns]

In [16]:
result2 = pd.merge(df_sports_short, df_customer_orders, on = ["customer_id", "customer_id"])
result2.drop('sport', axis = 1, inplace=True)
print(result2)

        customer_id    order_id
0         5775704.0  62291544.0
1        59147471.0  58231221.0
2        32683424.0  26934331.0
3         3206085.0  71869961.0
4        44476885.0  35020342.0
...             ...         ...
240517   81723809.0  23151667.0
240518   81723809.0  23808176.0
240519   39250750.0  38057329.0
240520   39250750.0  35460508.0
240521   39250750.0  10957224.0

[240522 rows x 2 columns]

In [17]:
result3 = pd.merge(result2, df_orders, on = ["order_id", "order_id"])
print(result3)

        customer_id    order_id   value
0         5775704.0  62291544.0  759.98
1        59147471.0  58231221.0  685.78
2        32683424.0  26934331.0   46.16
3         3206085.0  71869961.0  771.86
4        44476885.0  35020342.0  233.66
...             ...         ...     ...
240517   81723809.0  23151667.0  594.17
240518   81723809.0  23808176.0  650.55
240519   39250750.0  38057329.0   50.62
240520   39250750.0  35460508.0  648.91
240521   39250750.0  10957224.0   67.77

[240522 rows x 3 columns]

Now we have a dataframe, named result3, that contains only data of the horse-riding customers (their customer_id, order_id and value). Now we can calculate average of the last column:

In [18]:
mean_val = result3["value"].mean()
median_val = result3["value"].median()
print(f'Average order value (only equestrian customers): {mean_val:.2f} and median: {median_val:.2f}.')

Average order value (only equestrian customers): 26017.40 and median: 406.89.